<div style="text-align: center;">
  <h1>Drag & Drop With Animation</h1>
  
  <div cdkDropListGroup>
    <div class="example-container">
      <h2>To do</h2>
  
      <div @initList
        cdkDropList
        [cdkDropListData]="todo"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo" cdkDrag>
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          {{item}}
        </div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Done</h2>
  
      <div @initList
        cdkDropList
        [cdkDropListData]="done"
        class="example-list"
        (cdkDropListDropped)="drop($event)" [@dragDrop]="state">
        <div class="example-box" *ngFor="let item of done; let i = index" (cdkDragMoved)="startDragging($event)" cdkDrag>
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          {{item}}
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
